<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,intial-scale=1.0, minimal-scale=1.0">
    <title>[[${title}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>

<div th:fragment="page_footer" class="text-center m-3">
    <p>Shopme Control Panel - Copyright &copy; 2021</p>
</div>
<!--@thymesVar id="sortField" type="java.lang.String"-->
<!--@thymesVar id="sortDir" type="java.lang.String"-->
<!--@thymesVar id="reverseSortDir" type="java.lang.String"-->
<!--@thymesVar id="keyword" type="java.lang.String"-->
<!--@thymesVar id="currentPage" type="java.lang.Integer"-->
<th th:fragment="column_link(moduleUrl,fieldName,columnLabel,removeTag)" th:remove="${removeTag}">
    <a class="text-white" th:text="${columnLabel}"
       th:href="@{${moduleUrl} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
    </a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
</th>
<a th:fragment="page_link(moduleUrl,pageNum,label)"
   class="page-link" th:text="${label}"
   th:href="@{${moduleUrl} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
</a>

<div th:fragment="status(enabled, entityName, entityUrl)" th:remove="tag">
    <a th:if="${enabled == true}" class="fas fa-check-circle fa-2x icon-green"
       th:href="@{${entityUrl} + '/enabled/false'}"
       th:title="'Disable this ' + ${entityName}" ></a>
    <a th:if="${enabled == false}" class="fas fa-circle fa-2x icon-dark"
       th:href="@{${entityUrl} + '/enabled/true'}"
       th:title="'Enable this ' + ${entityName}"></a>
</div>

<div th:fragment="actions(entityName, moduleUrl, entityId, showDelete)">
    <a class="fas fa-edit fa-2x icon-green" th:href="@{${moduleUrl} + '/edit/' + ${entityId}}"
       th:title="'Edit this ' + ${entityName}"></a>
    &nbsp;
    <th:block th:if="${showDelete}">
    <a class="fas fa-trash fa-2x icon-silver link-delete" th:href="@{${moduleUrl} + '/delete/' + ${entityId}}"
       th:userId="${entityId}" th:title="'Delete this ' + ${entityName}"></a>
    </th:block>
</div>

<div th:fragment="pagination(moduleUrl,entityName)" th:remove="tag">
<div class="text-center" th:if="${totalItems > 0}">
    <span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
</div>
<div class="text-center" th:unless="${totalItems > 0}">
    <span>No [[${entityName}] found</span>
</div>

<div th:if="${totalPages > 1}">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center flex-wrap">
            <li th:class="${currentPage > 1 ? 'page-item':'page-item disabled'}">
                <a th:replace="fragments :: page_link(${moduleUrl},1,'First')"></a>
            </li>
            <li th:class="${currentPage > 1 ? 'page-item':'page-item disabled'}">
                <a th:replace="fragments :: page_link(${moduleUrl},${currentPage - 1},'Previous')"></a>
                <!--                    <a class="page-link" th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>-->
            </li>

            <li th:class="${currentPage != i ? 'page-item':'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:replace="fragments :: page_link(${moduleUrl},${i},${i})"></a>
                <!--                    <a class="page-link" th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>-->
            </li>

            <li th:class="${currentPage < totalPages ? 'page-item':'page-item disabled'}">
                <a th:replace="fragments :: page_link(${moduleUrl},${currentPage + 1},'Next')"></a>
                <!--                    <a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>-->
            </li>
            <li th:class="${currentPage < totalPages ? 'page-item':'page-item disabled'}">
                <a th:replace="fragments :: page_link(${moduleUrl},${totalPages},'Last')"></a>
                <!--                    <a class="page-link" th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>-->
            </li>

        </ul>
    </nav>
</div>
</div>

<div th:fragment="divMessage" th:if="${message != null}" class="alert alert-success text-center">
    [[${message}]]
</div>

<div th:fragment="search(moduleUrl)">
    <form th:action="@{${moduleUrl}}" class="form-inline m-3">
        <input type="hidden" name="sortField" th:value="${sortField}"/>
        <input type="hidden" name="sortDir" th:value="${sortDir}"/>
        Filter:&nbsp;
        <input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
        &nbsp;&nbsp;
        <button type="submit" value="Search" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
        &nbsp;&nbsp;
        <button type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
            <i class="fas fa-eraser"></i>
        </button>
    </form>
</div>

</body>
</html>