<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle})">
<body>

<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Manage Brands | [[${pageTitle}]]</h2>
    </div>

    <form th:action="@{/brands/save}" method="post" style="max-width: 500px; margin: 0 auto"
          enctype="multipart/form-data"
        th:object="${brand}" onsubmit="return checkUnique(this)">
        <input type="hidden" th:field="*{id}" />
    <div class="border border-secondary rounded p-3">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Brand Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="45"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Brand Logo</label>
            <div class="col-sm-8">
                <input type="hidden" th:field="*{logo}" />
                <input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg" class="mb-2"
                       th:required="${brand.imagePath == null}" />
                <div class="mt-2">
                    <img id="thumbnail" alt="Image preview" th:src="@{${brand.imagePath}}" class="img-fluid"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Select one or more categories</label>
            <div class="col-sm-8">
               <select class="form-control" th:field="*{categories}" multiple required style="resize: vertical; height: 200px">
                    <th:block th:each="cat : ${listCategories}">
                    <option th:value="${cat.id}">[[${cat.name}]]</option>
                    </th:block>
               </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Chosen categories</label>
            <div class="col-sm-8">
                <div id="chosenCategories">

                </div>
            </div>
        </div>


        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary m-3" />
            <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
        </div>
    </div>
    </form>

    <div th:replace="modal_fragments :: modal_dialog"></div>

    <div th:replace="fragments :: page_footer"></div>

</div>

<script type="text/javascript">
    moduleUrl = "[[@{/brands}]]";

    $(document).ready(function () {
        dropdownCategories = $("#categories");
        chosenCategories = $("#chosenCategories");
        dropdownCategories.change(function () {
            chosenCategories.empty();
            showChosenCategories();
        });
    });

    function showChosenCategories() {
        dropdownCategories.children("option:selected").each(function () {
            selectedCategory = $(this);
            CatId = selectedCategory.val();
            CatName = selectedCategory.text().replaceAll("-","");
            //alert(CatId + ": " + CatName);
            chosenCategories.append("<span class='badge badge-secondary m-1'>" + CatName + "</span>");
        });
    }

    function checkUnique(form) {
        var url = "[[@{/brands/check_unique}]]";
        var Id = $("#id").val();
        var name = $("#name").val();
        var csrf = $("input[name='_csrf']").val();
        var params = {id: Id, name: name, _csrf: csrf};
        $.post(url,params, function (response) {
            //alert(response);
            if (response == "OK") {
                form.submit();
            } else if (response == "DuplicateName") {
                showWarningDialog("There is another brand having the name: " + name + " inside the Database.");
            }  else {
                showErrorDialog("Unknown response from server !!");
            }
        }).fail(function () {
            //alert('failed');
            showErrorDialog("Could not connect to the server !!");
        });
        return false;
    }

</script>
    <script th:src="@{/js/common_form.js}"></script>

</body>
</html>